@import "~antd/dist/antd.less";

.floatleft {
    float: left;
} 
.floatright {
    float: right;
}
.pageheader {
    background-color: rgb(118,191,200);
    border-bottom: rgb(118,191,200);
    .logo {
        width: 120px;
        height: 100%;
        display: inline-block;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 900;
        line-height: 100%;
    }
    .ant-menu-dark {
        background-color: rgb(118,191,200);
        border: 0; 
        .ant-menu-item {
            color: #000;
        }
        .ant-menu-item-selected {
            color: #fff;
            background-color: rgb(16,142,233);
        }
    }
}
.content {
    height: 100vh;
    width: 100%;

}