@import "~antd/dist/antd.less";

* {
 font-size: 16px;
}

.vw-layout {
 .ant-layout-header {
  background-color: #FFFFFF;
  .vw-header {
   height: 100%;
   line-height: 64px;
   display: flex;
   position: relative;
   .vw-logo{
    img {
     width: 45px;
     vertical-align: middle;
    }
    span {
     margin-left: 10px;
     font-size: 25px;
     vertical-align: middle;
    }
   }
   .vw-sign {
    position: absolute;
    right: 20px;
    span {
     margin: 0 8px;
    }
   }
  }
 }
}